.sign-up-container{
    display: flex;
    flex-direction: column;
    width: 380px;
  
    padding: 20px;
    background-color: rgb(146, 242, 210);
    overflow: hidden;
}


h2{
    margin: 10px 0;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}